.header {
    background-color: #1d2126;
    padding: 25px 0;
    /* задаємо шапці позиціонування щоби вона скролилась разом із скролом сторінки */
    position: sticky;
    top: 0px;
    z-index: 1;
}

.logo {
    margin-top: 6px;
}

.navigation {
    margin-left: -15px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    position: absolute;
}

.menu a {
    /* щоб розмір <a> був як <li> задаємо dicplay:block  і задаємо висоту height */
    display: block;
    height: 30px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: #a4aead;
    cursor: pointer;
    text-align: center;
    /* принаведенні на блоки меню вони скачуть тому що додаємо рамку і змінюється висота/ширина. щоб не скакали задаємно рамку для menu aле з кольором transparent(колір унаслідується у батьківського елемента) і цю рамку ми не будемо бачити. пізніше при наведенні виводимо рамку з кольором яку будемо бачити але наше меню не скакатиме: */
    border: 2px solid transparent;
    border-radius: 2px;
    padding: 0 10px;
}
.menu a:hover {
    color: #a4aead;
    background-color: inherit;
    border: 2px solid #5a6068;
    border-radius: 2px;
    padding: 0 10px;
}

.form-search {
    height: 30px;
    border: 2px solid #3c4147;
    border-radius: 2px;
    display: flex;
    align-items: center;
    width: 195px;
    position: relative;
}
.form-search input {
    border: none;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a4aead;
    /* щоб текст який користувач вводить не накладався на кнопку задаємо ширину вводу тексту до початку кнопки */
    width: 80px;
}
 /* забираємо внутрішню рамку у input при фокусуванні(наведенні) через псевдоклас :focus */
.form-search input:focus {
    outline: none;
}
/* стилізуємо placeholder */
input::placeholder {
   color: #a4aead;
   font-size: 14px;
   font-weight: 600;
   text-indent: 8px;
}
input:placeholder-shown {
    color: #23b7a3;
}

.button-search {
    width: 15px;
    height: 12px;
    background-image: url(images/serch.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 21px;
}

.slaider {
    height: 660px;
    background-image: url(images/img\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 225px;
}

.text {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
line-height: 26px;
color: #ccd0d7;
font-weight: 400;
padding: 33px 0px 45px;
}

.slider-button {
    width: 124px;
    height: 44px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: inherit;
    margin-right: 11px;
    cursor: pointer;
}
.slider-button:hover {
    background-color: #23b7a3;
    border: 2px solid transparent;
}


/* We are Modest */
.about {
    height: 100%;
    background-color: white;
}

.modest {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: #292f36;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 60px;
    border-left: 10px solid #e1e6ea;
    padding-left: 14px;
    display: flex;
    justify-content: space-between;
}

.text-about {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #8d8f92;
    margin-top: -9px;
}
.text-about:first-child {
    padding-bottom: 40px;
}
b {
    font-weight: bold;
}

.modest-social-networks {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
}
.social-networks {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c8cdd0;
    width: 60px;
    height: 60px;
    border: none;
}
.facebook {
    background-image: url(images/icon\ \(facebook\).png);
}
.twitter {
    background-image: url(images/icon\ \(twitter\).png);
}
.google {
    background-image: url(images/icon\ \(google\).png);
}
.behance{
    background-image: url(images/icon\ \(behance\).png);
}
.dribbble {
    background-image: url(images/icon\ \(dribbble\).png);
}

.social-networks:hover {
    background-color: #d0d5d9;
    cursor: pointer;
}

.for-client{
    display: flex;
    flex-wrap: wrap;
}

.modest-item {
    position: relative;
    padding-bottom: 35px;
}

.square  {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #39a493;
    color: #ffffff;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.modest-title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 42px;
    color: #292f36;
    text-transform: uppercase;
    padding-left: 70px;
    margin-top: -13px;
}

.modest-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #8d8f92;
    text-transform: none;
}

hr {
    margin: 0px;
}

/* Meet the team */
.team {
    height: 100%;
    background-color: white;
}
.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 30px;
}
.members {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position-x: center;
}
.Gloria-Bromley {
    background-image: url(images/img\ \(Gloria-Bromley\).png);
}
.Paul-Torres {
    background-image: url(images/img\ \(Paul-Torres\).png);
}
.Judith-Gillette {
    background-image: url(images/img\ \(Judith-Gillette\).png);
}
.Delores-Reed {
    background-image: url(images/img\ \(Delores-Reed\).png);
}

.member-description {
    height: 74px;
    width: 263px;
    padding: 21px 20px;
    background-color: #e1e6ea;
}

.member-title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #292f36;
    margin-bottom: 10px;
}

.member-text {
    font-size: 14px;
    font-weight: 400;
    color: #8d8f92;
}

.social-twitter {
    background-image: url(images/icon\ \(twitter\).png);
}
.social-facebook {
    background-image: url(images/icon\ \(facebook\).png);
}
.social-linkedin {
    background-image: url(images/icon\ \(linkedin\).png);
}

.member-social {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    margin-right: 1px;
    cursor: pointer;
    display: none;
}
.member-sociald:last-child {
    margin-right: 0px;
}
.member-social-network {
    display: flex;
    position: absolute;
    top: 125px;
}

.members:hover{
    opacity: 0.4;
}
.team-members:hover .member-social {
    display: block;
}
.member-social:hover{
    background-color: #4e5a62;
}

.team-members:hover .member-description {
    background-color: #3a454d;
}
.team-members:hover .member-description p{
    color: white;
}


/* Lowely work */

.work {
    height: 100%;
    background-color:#3a454d;
}

.lovely-work {
    color: #fff;
    border-left: 10px solid #4e5a62;
}

.work-img {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 265px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    background-position-x: center;
}
.work-img-1 {
    background-image: url(images/img\ \(work-img-1\).png);
}
.work-img-2 {
    background-image: url(images/img\ \(work-img-2\).png);
}
.work-img-3 {
    background-image: url(images/img\ \(work-img-3\).png);
}
.work-img-4 {
    background-image: url(images/img\ \(work-img-4\).png);
}
.work-img-5 {
    background-image: url(images/img\ \(work-img-5\).png);
}
.work-img-6 {
    background-image: url(images/img\ \(work-img-6\).png);
}

.work-text {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    height: 60px;
    background-color: #292f36;
    line-height: 60px;
    padding-left: 21px;
    display: none;
    width: 360px;
}

.work-img:hover .work-text {
    display: block;
}

.button-add {
    background-image: url(images/icon\ \(add\).png);
    background-repeat: no-repeat;
    background-color: inherit;
    background-position: center;
    border: none;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 152px;
    cursor: pointer;
    display: none;
}

.work-img:hover >.button-add {
    display: block;
}

.work-button {
    margin-top: 30px;
    width: 151px;
    height: 44px;
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 3px;
    background-color: inherit;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.work-button:hover {
    background-color: #23b7a3;
    /* border: none; */
    border: 2px solid transparent;
    border-radius: 2px;
}

/* What we do */

.what-we-do {
    height: 100%;
}
.we-do-img {
    background-repeat: no-repeat;
    background-position: center;
    height: 76px;
}

.we-do-1-img {
    background-image: url(images/icon\ \(setting\).png);
}

.we-do-title {
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 30px;
}

.we-do-text {
    font-size: 16px;
    font-weight: 400;
    color: #8d8f92;
    text-align: center;
    padding-bottom: 20px;
}

.we-do-2-img {
    background-image: url(images/icon\ \(14\).png);
}
.we-do-3-img {
    background-image: url(images/icon\ \(phone\).png);

}
.we-do-4-img {
    background-image: url(images/icon\ \(13\).png);
}

.we-do-1 {
    margin-top: 25px;
}


/* Features */

.features {
    height: 100%;
    background-color: #3a454d;
}
.features-block {
    margin-top: 84px;
}
.features-img {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 240px;
}
.features-img-1 {
    background-image: url(images/img\ \(15\).png);
}

.features-title {
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 55px;
    margin-bottom: 30px;
}

.features-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #dcdfe1;
}

.features-img-2 {
    background-image: url(images/img\ \(14\).png);
}
.features-img-3 {
    background-image: url(images/img\ \(13\).png);
}

.features-1, .features-2 {
    margin-bottom: 30px;
}
.features-3 {
    margin-bottom: 124px;
}

/* Stay in touch */

.touch {
    height: 100%;
}

.in-toush {
    margin-top: 64px;
}

.contact-information-title {
    padding: 60px 0px 40px 10px;
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #292f36;
}

.contact-information-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #8d8f92;
}
.contact-information-text p:first-child {
    padding-bottom: 40px;
}

.form {
    background-color: #fff;
    padding-bottom: 113px;
}

.form-field {
    display: flex;
}

.left-text {
    padding-left: 36px;
}

.left-text, .right-text {
    padding-top: 30px;
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #8d8f92;
    width: 100%;
}

.first-column, .second-column {
    display: block;
    width: 100%;
    height: 44px;
    border: none;
    background-color: #eaeef1;
    outline: none;
}

.first-column {
    margin-left: -3px;
    margin-right: 15px;
}

.form-message {
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #8d8f92;
    padding-left: 30px;
    padding-top: 30px;
}

.form-message>textarea {
    display: block;
    resize: none;
    border: none;
    background-color: #eaeef1;
    outline: none;
    width: 100%;
}

.form-button {
    width: 151px;
    height: 44px;
    font-family: 'Quattrocento Sans',sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background-color: #23b7a3;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin: 30px 0px 0px 30px;
}
.form-button:hover {
   color: #eaeef1;
   border: 1px solid grey;
}

/* Footer */
.footer {
    background-color: #3a454d;
    height: 100%;
}

.footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    /* line-height: 95px; */
}

.footer-social-networks ul{
    display: flex;
    /* justify-content: space-between; */
}

.footer-social-networks a {
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    color: #fff;
    background-position: center;
}

.footer-twitter {
    background-image: url(images/icon\ \(9\).png);
}
.footer-facebook {
    background-image: url(images/icon\ \(8\).png);
}
.footer-skype {
    background-image: url(images/icon\ \(skype\).png);
}
.footer-behance {
    background-image: url(images/icon\ \(16\).png);
}
.footer-linkedin {
    background-image: url(images/icon\ \(linkedin\).png);
}

.footer-social-networks a:hover {
    background-color: #d0d5d9;
    cursor: pointer;
}




/* Гамбургер меню */
@media (max-width:767px) {
    /* пропишемо стилі для span щоб були 3 лінії  */
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
    }
    .nav-mobile-menu span {
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        /* пропишемо щоби із заповільненням мінялось гамбургер-меню. ease-in-out означає повільний вхід/вихід */
        transition: .25s ease-in-out;
    }

    .nav-mobile-menu span:first-child {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }
    .nav-mobile-menu span:last-child {
        bottom: 3px;
    }

    /* прописуємо стилі коли додається клас .active-menu */
    .nav-mobile-menu.active-menu span:first-child {
        top:50%;
        /* повертаємо першу лінію із трьох (гамбургер-меню) на 45 градусів */
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top:50%;
        /* повертаємо другу лінію із трьох (гамбургер-меню) на -45 градусів */
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:last-child {
        /* масштабування 3 лінії щоб вона не відображалась  */
        transform: scale(0);
    }

    /* приховаємо існуюче меню щоб тільки гамбургер-меню залишилось */
    .navigation {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        max-width: 280px;
        width: 280px;
        /* змістимо клас .navigation вправо щоби він не відображався на     сторінці */
        transform: translateX(150%);
    }

    /* пропишемо стилі для .navigation який має клас .active-menu (при кліку на гамбургер меню цей клас додається) */
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top:50px;
        padding: 25px;
        transform: translateX(0);
    }
}
.navigation.active-menu ul {
    display: flex;
    flex-direction: column;
    right: 15px;
}
.nav-mobile-menu {
    left: 280px;
    bottom: 20px;
}


/* Модальне вікно */
.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
}
.modal-form {
    width: 300px;
    height: 180px;
    background-color: rgb(221, 221, 221);
    margin-left: auto;
    margin-right: auto;
}
.modal-close {
    text-align: end;
    height: 20px;
}
.modal-close-btn {
    background-color: grey;
    color: black;
    width: 36px;
    height: 100%;
    border-bottom-left-radius: 2px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 3px;
}
.modal-close-btn:hover {
    background-color: red;
    color: white;
}
.modal-text {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.first-input-field, .second-input-field {
    display: block;
    outline: none;
}
.first-input-field {
    margin: 20px 0px 5px 10px;
}
.second-input-field {
    margin: 5px 0px 30px 10px;
}
.modal-call-button, .modal-reset-button {
    width: 100px;
    height: 26px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
}
.modal-call-button {
    margin: 0px 40px 0px 26px;
}
.modal-call-button:hover, .modal-reset-button:hover {
    background-color: #23b7a3;
    border: none;
    color: white;
}
/* пропишемо 2 класи для того щоб використати їх у JS для виведення і приховання форми */
.hide {
    display: none;
}
.show {
    display: block;
}


/* медіазапит для телефону найменшого розміру */
@media (max-width: 375px) {
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
        left: 280px;
    }
    .modest-social-networks {
        display: flex;
        justify-content: space-between;
        width: calc(100% + 3px);
    }
    .social-networks {
        max-width: 58px;
    }
}



/* (медіа-запити для різних розмірів екрану телефона) */
@media (max-width:424px) and (min-width:321px) {
    .nav-mobile-menu {
    left: 335px;
    }
}
@media (max-width:767px) and (min-width:425px) {
    .nav-mobile-menu {
    left: 380px;
    }
}



/* tablet (медіа-запит для планшету sm) */
@media (min-width:768px) {
    .menu {
        position: static;
        overflow-x: auto;
    }

    .form-search input {
        width: 80px;
    }

    .modest-social-networks {
        max-width: 304px;
    }

    .members {
        max-width: 263px;
    }

    .work-img {
        max-width: 360px;
    }
    .work-text {
        width: 360px;
    }

    .we-do-1, .we-do-2, .we-do-3, .we-do-4 {
        margin-top: 25px;
    }

    .touch {
        height: 866px;
    }
    .form {
        height: 400px;
        max-width: 555px;
        margin-top: -129px;
        position: absolute;
    }
    .first-column, .second-column {
        max-width: 170px;
    }
    .form-message>textarea {
        max-width: 334px;
    }

    .footer {
        height: 95px;
        padding: 25px 0px;
    }
    .footer-text {
        line-height: 22px;
    }
    .footer-social-networks a {
        background-position: center;
    }
    .footer-social-networks a:hover {
        background-color: #d0d5d9;
        cursor: pointer;
    }
    .footer-social-networks ul{
        justify-content: space-between;
    }
}




/* laptop (медіа-запит для ноутбука) */
@media (min-width:992px) {
    .menu {
        overflow-x: auto;
    }
    .menu li {
    /* є7 колонок під меню, 100/7=14.28571% */
    width: 14.28571%;
    margin-right: 15px;
    }

    .menu li:last-child {
        margin-right: 85px;
    }


    .form-search input {
    width: 115px;
    }

    .about {
        height: 611px;
    }
    .modest-social-networks {
        max-width: 304px;
    }

    .members {
        max-width: 263px;
    }

    .work-img {
        max-width: 360px;
    }
    .work-text {
        width: 360px;
    }

    .we-do-1 {
        margin-bottom: 70px;
    }
    .we-do-1, .we-do-2, .we-do-3, .we-do-4 {
        margin-top: 25px;
    }

    .touch {
        height: 866px;
    }
    .form {
        height: 400px;
        width: 497px;
        margin-top: -129px;
        position: absolute;
    }
    .first-column, .second-column {
        width: 210px;
        max-width: 210px;
    }
    .form-message>textarea {
        width: 440px;
        max-width: 440px;
    }

    .footer {
        height: 95px;
    }
    .footer-text {
        line-height: 95px;
    }

    .footer-social-networks ul{
        justify-content: space-between;
    }
}




/*desktop (медіа-запит для компютера md)  */
@media (min-width:1200px) {
    .menu {
        position: absolute;
    }
    .menu li {
    /* є7 колонок під меню, 100/7=14.28571% */
    width: 14.28571%;
    margin-right: 15px;
    }

    .menu li:last-child {
        margin-right: 85px;
    }

    .form-search input {
        width: 152px;
    }

    .about {
        height: 611px;
    }
    .modest-social-networks {
        width: 304px;
        justify-content: space-between;
    }

    .team {
        height: 649px;
    }
    .members {
        width: 263px;
    }

    .work {
        height: 899px;
    }
    .work-img {
        width: 360px;
    }
    .work-text {
        width: 360px;
    }

    .what-we-do {
        height: 896px;
    }
    .we-do-1 {
        margin-bottom: 70px;
    }
    .we-do-1, .we-do-2, .we-do-3, .we-do-4 {
        margin-top: 25px;
    }

    .features {
        height: 732px;
    }

    .touch {
        height: 866px;
    }
    .form {
        height: 400px;
        width: 555px;
        margin-top: -129px;
        position: absolute;
    }
    .first-column, .second-column {
        width: 240px;
        max-width: 240px;
    }
    .form-message>textarea {
        width: 495px;
        max-width: 495px;
    }
    .left-text, .right-text {
        width: auto;
    }
    .left-text {
        padding-left: 30px;
    }
    .footer {
        height: 95px;
        padding: 25px 0px;
    }
    .footer-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-text {
        line-height: 47px;
    }
    .footer-social-networks a {
        background-position: center;
    }
    .footer-social-networks a:hover {
        background-color: #d0d5d9;
        cursor: pointer;
    }
    .footer-social-networks ul{
        justify-content: space-between;
    }
}
